<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>
  xss 演示：
  <br>
  <a href="http://localhost:8080/?xss=<script>alert(document.cookie)</script>">
    demo1
  </a>
  <br>
  <a href="http://localhost:8080/?xss=<style>body{width:700px;height:700px;color:yellow;}</style>">
    demo2
  </a>
  <br>
  <a href="http://localhost:8080/?xss=<iframe src='http://www.baidu.com' frameborder='0'></iframe>">
    demo3
  </a>
  <br>
  <a href="http://localhost:8080/?xss=<img src='' alt='' onerror='alert(123)'>">
    demo4
  </a>
  
  <!-- <%-  %> 不转义输出   <%= %> 转义输出 -->
  <%- xss %>
</body>
</html>