@theme-red: #f85959;
@theme-blue: #409EFF;
@theme-green: #67C23A;
@theme-bg-red: #d43d3d;
@theme-black: #505050;
@font-gray: #666;
@font-normal: #363636;
@bg-color: #f4f4f4;
.header-wrapper {
  height: 0.5rem;
  background: @theme-bg-red;
  .logo {
    width: 1.3rem;
    height: 100%;
    img {
      width: 1rem;
    }
  }
  .search {
    width: e("calc(100% - 1.3rem)");
    position: relative;
    color: @font-gray;
    .search-icon {
      position: absolute;
      left: 0.06rem;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      width: 90%;
      height: 0.3rem;
      border: none;
      outline: none;
      background: @bg-color;
      text-indent: 0.3rem;
      border-radius: 0.04rem;
    }
  }
}